body {
    font: 10px, sans-serif;
}

svg {
    background-color: #ffffff;
}

.eixo path, .eixo line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.x.eixo path {
    display: none;
}

.barra {
    fill: steelblue;
}

.barra:hover {
    cursor: pointer;
    fill: brown;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
}

.ponto {
    fill: steelblue;
}
